%header.container
  %nav.navbar.navbar-default{role: "navigation"}
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".target")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "MEMOTTE", "/", class: "navbar-brand"

    .collapse.navbar-collapse.target
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle(href="javascript:void(0)" data-toggle="dropdown")
            Sessions
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to articles_path do
                Articles
            %li= link_to "link2", ""
            %li= link_to "link3", ""

      %ul.nav.navbar-nav.navbar-right
        -# %li
          = link_to signup_path do
            %span.glyphicon.glyphicon-pencil
            Signup
        %li.dropdown
          %a.dropdown-toggle(data-toggle="dropdown" href="javascript:void(0)")
            %span{class: "glyphicon glyphicon-user"}
            = current_user.name
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to user_home_path do
                User Home
            %li
              = link_to "" do
                %span{class: "glyphicon glyphicon-cog"}
                Seggings
            %li
              = link_to signout_path do
                %span{class: "glyphicon glyphicon-off"}
                Signout

